body {
    padding:0px;
    margin:0px;
    width:100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-top:1em;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

#file-label {
}

#fun-and-plausible {
    position:absolute;
    bottom:0;
    right:0;
    background-color:rgba(0, 0, 0, .6);
    width:100px;
    padding:1em;
}
