<html>
    <head>
        <title>
            LOL
        </title>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

        <script type="text/javascript" src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"> </script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <link href="http://bootswatch.com/cyborg/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/main.css" rel="stylesheet">
        <script type="text/javascript">
            $(document).on('change', '.btn-file :file', function() {
            var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
            });
$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        $("#file-label").text(label);
    });
});
    </script>
    </head>
    <body>
        <div class="container">
            <h1>These are your Burns</h1>
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}

            <h2>Upload a file</h2>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <span class="btn btn-default btn-file">
                    Browse <input type="file" name="file"></input>
                </span>
                <span id="file-label"></span>
                <br>
                <br>
                <input type="submit" value="Upload" class="btn"></input>
            </form>
            <hr/>
            <h2>Pick one of our favourites:</h2>
            <ul>
                {% for dictionary in favourites %}
                <li><a href="/player?song_id={{dictionary['id']}}">
                    {{ dictionary["artist"] }} - {{dictionary["title"]}}
                </a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="fun-and-plausible">
            <a href="http://funandplausible.com">A Fun and Plausible Soultion</a>
        </div>
    </body>
</html>
